*{
    margin:0;
}


header{
    background-color: white;
    line-height: 100px;
    font-size: 50px;
    vertical-align: middle;

}
#foto-logo{
    margin-top: 10px;
    height:80%;
    
}


#sfondo{
    background-color:aliceblue;
    height: 10000px;
    /* height:100%; */
}


#corpo{
    width: 70%;
    height:88%;
    border-radius: 10px;

    margin-top: 2%;
    margin-left: 15%;
    background-color: white;
}

#add-bar{
    /* background: #000; */
    line-height: 30px;
    padding: 10px 30px;
}

.add-button{
    height:30px;
    padding:5px 15px;
    border-radius: 8px;
    
}

.blue{
    background-color: blue;
    color:white;
}


.white{
    background: white;
    color: lightgrey;
    height:26px;
    
    box-sizing: border-box;
    border: solid lightgrey;
    /* non funziona */

}

section{
    padding: 30px 30px 0 30px;
    font-weight: 900;
}
.attività{
    padding:5px;
    /* background: aqua; */
    margin-top:10px;
}


.simbolo{
    line-height:15px;
    width:15px;
    font-size: 40%;
    border-radius: 50%;
    display:inline-block;
    text-align: center;
    vertical-align: top;
}

.check{
    border: solid green;
    color:green;    
}

.cross{
    border: solid red;
    color:red;
}

.etichetta{
    height:20px;
    padding:5px 15px;
    border-radius: 20px;
    
}


.color1{
    background-color: rgb(180, 104, 180);
    color:white;
}
.color2{
    background-color: rgb(74, 130, 215);
    color:white;
}

.color3{
    background-color: rgb(236, 107, 107);
    color:white;
}

.color4{
    background-color: rgba(0, 255, 123, 0.53);
    color:white;
}