*{
    margin:0;
}


header{
    background-color: blue;
    height: 100px;
    width:100%;
    display: inline-block;
    vertical-align: center;
    font-size: 50px;
}
#foto-logo{
    height:100%;
}

#intestazione{

    background: #000;
}

#sfondo{
    background-color: green;
    height: 10000px;
    /* height:100%; */
}


#corpo{
    width: 70%;
    height:88%;

    margin-top: 2%;
    margin-left: 15%;
    background-color: #000;
}
